@{
    ViewBag.Title = "ChooseYou";
}

<div class="popup cf">
    <h1>Select which trait best describes you</h1>
    <div class="you-info cf">
        <img class="headshot" src="~/Content/img/linkedin-headshot-sample.jpg" />
        <div class="title">
            <h2>Jason Miller</h2>
            <p>Business Director at Alpha Salmon</p>
        </div>
    </div>
    <div class="member-type">
        <h2>High Achiever</h2>
        <img src="~/Content/img/high-achiever-summary-small.jpg" />
        <p>You are ambitious, supercharged like the 3.5 Liter SUCH i-VTEC V6 Engine. Innovative and flexible, a natural born leader with Smart Keyless Entry to any group of leaders you want to access. You have a tendency to be ruthless, tearing up the business streets with your equivalent or 18-Inch Pewter Black Alloy Rims. There are no challenges you fear.</p>
    </div>
    <div class="member-type">
        <h2>Diplomat</h2>
        <img src="~/Content/img/diplomat-summary-small.jpg" />
        <p>You are calm and composed, your mind is controlled with your own i-Dual-Zone Climate Control with Rear Vents. You are trustworthy, seeing that which cannot be seen, as if you had your very own Lane Watch Blind Spot Monitoring System. You are diligent and a know-it-all, also embedded with the ability to relax in any condition; your very own Electric Sunroof.</p>
    </div>
    <div class="member-type">
        <h2>Dependable</h2>
        <img src="~/Content/img/dependable-summary-small.jpg" />
        <p>You are a well organized individual, sensing change and adapting to your environment, not unlike the Dusk-Sensing Auto Headlights and Rain-Sensing Auto Front Wipers. Your attention to detail is immaculate and dependable, like the Front and Rear Parking Sensors, which also makes you, ahem, just a little bit boring.</p>
    </div>
    <div class="member-type">
        <h2>Original Thinker</h2>
        <img src="~/Content/img/original-thinker-summary-small.jpg" />
        <p>Flexible, like the Adaptive Cruise Control, you are a visionary creative who keeps their eye on the ball. A little quirky, and sometimes nosy, you use your wit to track the road as if you had built in Active Cornering Lights to guide you. Finally you intuitively avoid potential disaster with your own Collision Mitigation Breaking System.</p>
    </div>
    <div class="member-type">
        <h2>Social Butterfly</h2>
        <img src="~/Content/img/social-butterfly-summary-small.jpg" />
        <p>You are an outgoing democratic individual who, like LED Daytime Running Lights, shines amidst your crew. You cleverly manuever the social ecosphere, hearing and digesting the pertinent gossip with your very own built in Active Noise Cancelling. Like the Bluetooth Phone and Audio Connectivity you are wirelessly connected to your world.</p>
    </div>
    <div class="action">
        <img src="~/Content/img/honda-accord-med.jpg" alt="image of Honda Accord"/>
        <a href="#" class="button two-line">Select Your A-Team</a>
    </div>
</div>
