@{
    ViewBag.Title = "Contest";
}

<nav id="main-nav">
    <ul>
        <li class="no-divider">
            <a href="#">
                <img src="~/Content/img/linkedin-logo.png" alt="LinkedIn" /></a></li>
        <li class="no-divider active cf">
            <img src="~/Content/img/user-photo-sample.png" />
            <div class="user">
                <h1>Welcome</h1>
                <h2>John Smith</h2>
                <a href="#">| Logout</a>
            </div>
        </li>
        <li>
            <a href="#">Find a Dealer</a></li>
        <li>
            <a href="#">Request a Test Drive</a></li>
        <li>
            <a href="#">View Brochure Online</a></li>
        <li>
            <a href="#">Take a 360 Spin</a></li>
        <li class="no-divider">
            <a href="#">Share</a>
            <div class="social-links">
                <a href="#">
                    <img src="~/Content/img/linkedin-icon.png" alt="in" /></a>
                <a href="#">
                    <img src="~/Content/img/fb-icon.png" alt="f" /></a>
                <a href="#">
                    <img src="~/Content/img/tw-icon.png" alt="tw" /></a>
                <a href="#">
                    <img src="~/Content/img/email-icon.png" alt="email" /></a>
            </div>
        </li>
    </ul>
</nav>
<div id="content">
    <div class="white-box">
        <h1>Is this your final selection?<br />
            Does this Dream Team have it all?</h1>
        <p>Submit and see what you've got!<br />
            And don't forget to check out the all new 2013 Accord! </p>
    </div>
    <div id="car">
        <div id="high-achiever" class="hot-spot">
            <div class="member-wrap">
                <div class="bubble">
                    <img src="~/Content/img/linkedin-headshot-sample.jpg" />
                </div>
                <div class="member">
                    <h2>High Achiever</h2>
                    <p>Lachy Wharton</p>
                </div>
            </div>
        </div>
        <div id="dependable" class="hot-spot">
            <div class="member-wrap">
                <div class="bubble">
                    <img src="~/Content/img/linkedin-headshot-sample.jpg" />
                </div>
                <div class="member">
                    <h2>Dependable</h2>
                    <p>Lachy Wharton</p>
                </div>
            </div>
        </div>
        <div id="diplomat" class="hot-spot">
            <div class="member-wrap">
                <div class="bubble">
                    <img src="~/Content/img/linkedin-headshot-sample.jpg" />
                </div>
                <div class="member">
                    <h2>Diplomat</h2>
                    <p>Lachy Wharton</p>
                </div>
            </div>
        </div>
        <div id="social-butterfly" class="hot-spot">
            <div class="member-wrap">
                <div class="bubble">
                    <img src="~/Content/img/linkedin-headshot-sample.jpg" />
                </div>
                <div class="member">
                    <h2>Social Butterfly</h2>
                    <p>Lachy Wharton</p>
                </div>
            </div>
        </div>
        <div id="original-thinker" class="hot-spot">
            <div class="member-wrap">
                <div class="bubble">
                    <img src="~/Content/img/linkedin-headshot-sample.jpg" />
                </div>
                <div class="member">
                    <h2>Original Thinker</h2>
                    <p>Lachy Wharton</p>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons cf">
        <div class="check-container">
            <input type="checkbox" id="emails"/><label for="emails">I would like to receive emails and special offers from Honda.</label>
        </div>
        <div class="check-container">
            <input type="checkbox" id="agree" /><label for="agree">I have read and agree to the Official Rules.</label>
        </div>
        <a href="#" class="button floatleft">RESET</a>
        <a href="#" class="button floatleft">Submit your Dream Team</a>
    </div>
</div>
