@{
    ViewBag.Title = "Contest";
}

<nav id="main-nav">
    <ul>
        <li class="no-divider">
            <a href="#">
                <img src="~/Content/img/linkedin-logo.png" alt="LinkedIn" /></a></li>
        <li class="no-divider active cf">
            <img src="~/Content/img/user-photo-sample.png" />
            <div class="user">
                <h1>Welcome</h1>
                <h2>John Smith</h2>
                <a href="#">| Logout</a>
            </div>
        </li>
        <li>
            <a href="#">Find a Dealer</a></li>
        <li>
            <a href="#">Request a Test Drive</a></li>
        <li>
            <a href="#">View Brochure Online</a></li>
        <li>
            <a href="#">Take a 360 Spin</a></li>
        <li class="no-divider">
            <a href="#">Share</a>
            <div class="social-links">
                <a href="#">
                    <img src="~/Content/img/linkedin-icon.png" alt="in" /></a>
                <a href="#">
                    <img src="~/Content/img/fb-icon.png" alt="f" /></a>
                <a href="#">
                    <img src="~/Content/img/tw-icon.png" alt="tw" /></a>
                <a href="#">
                    <img src="~/Content/img/email-icon.png" alt="email" /></a>
            </div>
        </li>
    </ul>
</nav>
<div id="content">
    <h1 class="light">THE A-TEAM</h1>
    <p class="light">Do you have a dream team who has it all? The cleverness, charm, looks, charisma, originality and leadership to be the most impressive collection of professionals in Australia? Now is your chance to show your worth as leaders of the class in the Have It All Dream Team competition brought to you by the new 2013 Accord. Select your role along side your four most powerful professional contacts and show Australia how impressive your dream team is.</p>
    <a href="#" class="linkedin-signin">
        <img src="~/Content/img/linkedin-signin.png" alt="Sign in with LinkedIn" /></a>
    <div id="car">
        <div id="high-achiever" class="hot-spot">
            <div class="info-wrap">
                <div class="info">
                    <h2>HIGH ACHIEVER</h2>
                    <p>
                        3.5 litre SOHC i-VTEC<br />
                        V6 engine
                    </p>
                </div>
                <img src="/Content/img/high-achiever.jpg" alt="image of engine" />
                <a href="#" class="select">SELECT YOUR A-TEAM</a>
                <div class="arrow"></div>
            </div>
        </div>
        <div id="dependable" class="hot-spot">
            <div class="info-wrap">
                <div class="info">
                    <h2>DEPENDABLE</h2>
                    <p>
                        Dusk sensing auto headlights<br />
                        Rain sensing auto front wipers
                    </p>
                </div>
                <img src="/Content/img/dependable.jpg" alt="image of headlight" />
                <a href="#" class="select">SELECT YOUR A-TEAM</a>
                <div class="arrow"></div>
            </div>
        </div>
        <div id="diplomat" class="hot-spot">
            <div class="info-wrap">
                <div class="info">
                    <h2>DIPLOMAT</h2>
                    <p>
                        Active noise cancellation<br />
                        i-dual zone climate control with rear vents
                    </p>
                </div>
                <img src="/Content/img/diplomat.jpg" alt="image of temperature controls" />
                <a href="#" class="select">SELECT YOUR A-TEAM</a>
                <div class="arrow"></div>
            </div>
        </div>
        <div id="social-butterfly" class="hot-spot">
            <div class="info-wrap">
                <div class="info">
                    <h2>SOCIAL BUTTERFLY</h2>
                    <p>
                        Bluetooth phone and audio connectivity<br />
                        Smart keyless entry & start
                    </p>
                </div>
                <img src="/Content/img/social-butterfly.jpg" alt="image of radio controls" />
                <a href="#" class="select">SELECT YOUR A-TEAM</a>
                <div class="arrow"></div>
            </div>
        </div>
        <div id="original-thinker" class="hot-spot">
            <div class="info-wrap">
                <div class="info">
                    <h2>Original Thinker</h2>
                    <p>
                        Collision Mitigation Breaking System<br />
                        Adaptive Cruise Control<br />
                        Lane Keep Assist System
                    </p>
                </div>
                <img src="/Content/img/original-thinker.jpg" alt="image of car following another" />
                <a href="#" class="select">SELECT YOUR A-TEAM</a>
                <div class="arrow"></div>
            </div>
        </div>
    </div>
</div>
