@{
    ViewBag.Title = "Home";
}
<div id="content" class="home">
    <h1 class="light">THE A-TEAM</h1>
    <p class="light">Do you have a dream team who has it all? The cleverness, charm, looks, charisma, originality and leadership to be the most impressive collection of professionals in Australia? Now is your chance to show your worth as leaders of the class in the Have It All Dream Team competition brought to you by the new 2013 Accord. Select your role along side your four most powerful professional contacts and show Australia how impressive your dream team is.</p>
    <p class="linkedin-signin">
        <script type="IN/Login" data-onauth="loadData"></script></p>
    <div id="car">
    </div>
</div>

