@{
    ViewBag.Title = "SendInvitation";
}

<div id="invite">
    <div class="close">x</div>
    <h1>Invitation to be part of the A-Team</h1>
    <p>Recruit the very best in your contact list for your chance to win.</p>
    <div class="borders">
        <img src="~/Content/img/linkedin-logo-small.png" /><strong>Invite via LinkedIn</strong></div>
    <div class="padding">
        <h3>Send Invitation To:</h3>
        <div class="connection">
            <div class="headshot">
                <img src="" />
            </div>
            <div class="connection-info">
                <h3 class="name">Test</h3>
                <h4 class="title" title="">something stupidly long about me yeayaaaa at <span class="company">Some really long company name</span></h4>
            </div>
        </div>
        <div class="connection">
            <div class="headshot">
                <img src="" />
            </div>
            <div class="connection-info">
                <h3 class="name">Test</h3>
                <h4 class="title" title="">something stupidly long about me yeayaaaa at <span class="company">Some really long company name</span></h4>
            </div>
        </div>
        <div class="connection">
            <div class="headshot">
                <img src="" />
            </div>
            <div class="connection-info">
                <h3 class="name">Test</h3>
                <h4 class="title" title="">something stupidly long about me yeayaaaa at <span class="company">Some really long company name</span></h4>
            </div>
        </div>
        <div class="connection">
            <div class="headshot">
                <img src="" />
            </div>
            <div class="connection-info">
                <h3 class="name">Test</h3>
                <h4 class="title" title="">something stupidly long about me yeayaaaa at <span class="company">Some really long company name</span></h4>
            </div>
        </div>
        <label>SUBJECT:</label>
        <input type="text" value="I added you to my A-Team" />
        <label>ADD A PERSONAL MESSAGE:</label>
        <textarea>Like me, you probably want to have it all.
        You have probably wondered how you rank amongst your colleagues in the
        professional world; your growing popularity on LinkedIN, number of connections,
        recommendations and endorsements are all indications, however there’s really no
        definitive measure.
        Now is your chance to find out.
        Join me in the Honda Accord A-Team competition and become one of five
        professionals to beat the rest on LinkedIN, and go in the running to win $3K worth of all
        the latest gadgets.</textarea>
        <a href="#" class="send-invite-btn">SEND INVITATION</a>
        <a href="#" class="cancel">Don't alert my team</a>
    </div>
</div>
